<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419974626857-g1vg2o6qqsb7jc4fk5bojih5do9dr9l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419974626857-g1vg2o6qqsb7jc4fk5bojih5do9dr9l3</string>
	<key>API_KEY</key>
	<string>AIzaSyBzQHoiy1wZaTcsx8P0jnEvIzE6QBkyclI</string>
	<key>GCM_SENDER_ID</key>
	<string>419974626857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atealab.LogoPalette</string>
	<key>PROJECT_ID</key>
	<string>logopalette-fab95</string>
	<key>STORAGE_BUCKET</key>
	<string>logopalette-fab95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419974626857:ios:a7eebd64e97edc4ac2a638</string>
</dict>
</plist>